body {
  margin: 0;	
  padding: 0;
	
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
	
  background-color: #f2f2f2;
  
  overflow-x: hidden;
}  

a {
  text-decoration: none;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box-component {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout-wrapper {
  position: relative;
  
  width: 1200px;
  margin: 0 auto;
  
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);  
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.button {
  font: inherit;	
  font-weight: bold;
  text-transform: uppercase;	
  text-align: center;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;	
}

.button:hover{
  background-color: #669ec0;
}

.button:focus {
  background-color: #669ec0;
  outline: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  
  background-color: #ffffff;
}

.site-navigation {
  position: relative; 
    
  display: -webkit-box;      
  display: -ms-flexbox;      
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;  
  width: 1200px;
  min-height: 56px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.site-navigation li {
  width: 240px;
  margin: 15px auto 15px 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  
  text-align: center;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: 240px;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: 240px;
  padding-left: 7px;
}

.site-navigation li:nth-child(4n) {
  padding-left: 15px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation-active  a,
.site-navigation-active  a:hover,
.site-navigation-active  a:focus,
.site-navigation-active  a:active {
  color: #766357;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  
  display: block;
  margin-left: -69px;
}

.main-header-logo img {
  width: 138px;
  height: 70px;
  border: 0;
}

.intro {
  position: relative;
  top: 0;
  
  width: 1200px;
  height: 568px;
  
  background-color: #ffffff;
  background-image: url("../img/main-background.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}


/*Преимущества*/
.reasons { 
  margin: 0;
  padding: 0;
	
  color: #000000;
  
  background-color: #ffffff;
}

.reasons-header {
  width: 560px;
  margin: 0 auto;
  padding-bottom: 38px;
  
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.reason-title {
  margin-top: 0;
  margin-bottom: 27px;  
  
  font-size: 21px;
  line-height: 26px;
 }

.reasons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.reason-item {
  width: 400px;
  padding: 47px 73px 40px;  
  
  color: #000000;
  text-align: center;
  
  background-color: #eeeeee;
}

.reason-image-wrapper {
  width: 800px;
  min-height: 256px;
  
  background-color: #81b3d2;
}

.reason-one {
  background-image: url("../img/advantages-1.jpg");
  background-repeat: no-repeat;	
}

.reason-two {
  background-image: url("../img/advantages-2.jpg");
  background-repeat: no-repeat;
}

.colored {
  padding: 0 50px;
  padding-top: 47px;
  
  color: #ffffff;
  
  background-color: #81b3d2;
}

.reason-item:nth-last-of-type(4) {
  padding-left: 45px;
  padding-right: 45px;
}

.reason-item-header {
  padding:0;
  margin: 0;
  margin-bottom: 22px;
  
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.reason-item:nth-last-of-type(2) {
  padding-left: 62px;
  padding-right: 62px;
}

.reason-item:last-of-type {
  padding-left: 70px;
  padding-right: 70px;
}

.colored .reason-item-header {
  margin-bottom: 23px;
}

.colored p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.item-header {
  margin: 0;
  margin-bottom: 23px;
}

.item-header ~ p {
  padding: 0;
  margin-bottom: 20px;
}

.additional-reason {
  position: relative;	
  
  padding: 160px 55px 63px 55px;  
  
  color: #000000;
  
  background-color: #ffffff;
}

.additional-reason .reason-item-header {
	margin-bottom: 24px;
}
.additional-reason p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.house::before {
  content: "";
  
  position: absolute;
  top: 60px;
  left: 50%;  
  
  width: 75px;
  height: 75px;
  margin-left: -37px;
  
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.food::before {
  content: "";
  
  position: absolute;
  top: 60px;
  left: 50%;  
  
  width: 75px;
  height: 75px;
  margin-left: -38px;
  
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
}

.souvenirs::before {
  content: "";
  
  position: absolute;
  top: 56px;
  left: 50%;  
  
  width: 75px;
  height: 75px;
  margin-left: -32px;
  
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
}

/*Поиск гостиницы*/
.search-hotel {
  padding-top: 50px;
  color: #000000;
  
  background-color: #ffffff;
}

.search-hotel h3 {
  padding: 0;
} 

.button-search {
  width: 568px;
  padding: 30px 110px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  
  background-color: #766357;
}

.button-search:hover  {
  background-color: #604e43;
}

.button-search:focus  {
  background-color: #604e43;
  outline: none;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;	
}

.search-hotel-text {
  width: 576px;
  margin: 0 auto;
  padding: 0 70px;	
  padding-bottom: 45px;
  
  line-height: 24px;
  text-align: center;
}

.search-hotel-header {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
	
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-hotel-text p {
  margin: 0;
  padding: 0;
}

.search-form-wrapper {
  position: relative;
	
  text-align: center;
}

.search-form {
  position: absolute;
  top: 100%;
  left: 50%;
  
  display: block;  
  -webkit-box-sizing: border-box;  
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  margin-left: -284px;
  padding-top: 51px;
	
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;	
  color: #000000;
  
  background-color: #ffffff;
  
  z-index: 3;
}

.search-form-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 458px;
  margin: 0 auto;
  padding: 0;
  padding-top: 5px;
  
  border: none;
}

.appointment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 29px;
}

.appointment-item:last-of-type {
  margin-bottom: 54px;
}

.appointment-item input::-webkit-input-placeholder {
  color: #000000;
}

.appointment-item input:-ms-input-placeholder {
  color: #000000;
}

.appointment-item input::-ms-input-placeholder  {
  color: #000000;
}

.appointment-item input::placeholder  {
  color: #000000;
}


.search-form input[type="text"],
.search-form input[type="password"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;	
  text-transform: uppercase;
	
  background-color: #f2f2f2;
  border: none;	
}

.search-form input[type="text"]:hover,
.search-form input[type="password"]:hover {
  background-color: #ebebeb;
  border: none;
}

.search-form input[type="text"]:focus,
.search-form input[type="password"]:focus {
  background-color: #ffffff;
  border: none;
  outline: #e5e5e5 2px solid;
}

.arrival {
  width: 113px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  
  text-align: left;
}

.departure {
  width: 113px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  
  text-align: left;
}

.adult-age {
  width: 113px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  
  text-align: left;
}

.clients-age {
  width: 65px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: auto;
  
  text-align: left;
}

.calendar {
  width: 311px; 
  height: 38px;
  margin: 0;
  padding-top: 6px;
  padding-left: 11px;
  padding-right: 10px;
  padding-bottom: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  } 

.button-calendar {
  margin: 0;
  padding: 8px 8px 5px 6px;
  background-color: #f2f2f2;
  border: none;
}

.button-calendar:active {
  outline: none;
}

.button-calendar:focus {
	outline: none;
}

.calendar-icon {
  fill: #a9a9a9;
}

.button-calendar:hover .calendar-icon {
  fill: #000000;
}

.button-calendar:focus .calendar-icon {
  fill: #81b3d2;
}

.button-calendar:active .calendar-icon {
  fill: #81b3d2;
}

.amount-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
  
  vertical-align: middle;
}

.button-number-of-clients {
  width: 39px;
  height: 38px;
  margin: 0;
  padding: 0;
  
  font-size: 26px;
  text-align: center;	
  vertical-align: middle;
  vertical-align: middle;
}

.number-of-clients {
  width: 36px;
  height: 38px;
  margin: 0;
  padding: 0;
  
  font-size: 26px;
  text-align: center;	
  vertical-align: middle;
}


.button.button-number-of-clients:hover {
  color: #000000;
}

.button.button-number-of-clients:focus {
  color: #000000;
}

.button.button-number-of-clients:active {
  color: #81b3d2;
}
.submit-search-hotel:hover {
  background-color: #669ec0;
}

.submit-search-hotel:focus {
  background-color: #669ec0;
  outline: none;
}

.submit-search-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
  outline: none;
}

.form-hidden {
  display: none;
}

.submit-search-hotel {
  width: 458px;
  padding: 16px 0;
  
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;
}

.form-hidden {
  display: none;
}

@-webkit-keyframes appearance {
  from {top: 0; }
  10%  {top: 10px; }
  20%  {top: 15px; }
  30%  {top: 20px; }
  40%  {top: 25px; }
  50%  {top: 40px; }
  60%  {top: 45px; }
  70%  {top: 50px; }
  85%  {top: 55px; }
  89%  {top: 60px; }
  100% {top: 65px;}
}

@keyframes appearance {
  from {top: 0; }
  10%  {top: 10px; }
  20%  {top: 15px; }
  30%  {top: 20px; }
  40%  {top: 25px; }
  50%  {top: 40px; }
  60%  {top: 45px; }
  70%  {top: 50px; }
  85%  {top: 55px; }
  89%  {top: 60px; }
  100% {top: 65px;}
}

.search-form {
  -webkit-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.map {
  position: relative;
}

.map p {
  margin: 0;
  padding: 0;
}

.map_iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*Подвал*/
.main-footer {
  position: absolute;
  bottom: 0;
  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;	
  -webkit-box-pack: center;	
  -ms-flex-pack: center;	
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;	
  width: 100%;	
  padding: 33px 0 41px 0;
  
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.hashtag {
  width: 400px;
  margin-bottom: 2px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;	
  -webkit-box-pack: center;	
  -ms-flex-pack: center;	
  justify-content: center;	
  width: 400px;
  margin: 0;
  padding: 0;
	
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;	
  width: 46px;
  height: 48px;
  margin-right: 6px;
	
  background-color: #81b3d2;
}

.social-button:last-child {
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
  outline: none;
}

.social-button:active {	
  background-color: #5496bd;	
}

.social-button-fill {
  fill: #ffffff;
}

.social-button:active .social-button-fill {
  fill: #94b9d2;
}

.main-footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;	
  width: 400px; 
}

.copyright-color {
  fill: #231f20;
}

.copyright-color:hover,
.copyright-color:focus {
  fill: #81b3d2;
  outline: none;
}

.copyright-color:active {
  fill: #bdbbbc;
}

.copyright-logo {
  display: inline-block;
  margin-left: 7px;
  padding-top: 3px;
  
  vertical-align: center;
}	

/*Отели*/
.filter {	
  display: -webkit-box;	
  display: -ms-flexbox;	
  display: flex;
	
  width: 100%;
  min-height: 217px;
  padding: 27px 72px 0 73px;
	
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
	
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter .infrasrtrucure {
  width: 240px;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  
  border: none;
}

.filter .accommodation {
  width: 240px;
  padding: 0;
  margin: 0;  
  
  border: none;
}

.filter .filter-legend {
  margin-bottom: 24px;	
  
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filter-options {
  padding-left: 40px;
  margin-bottom: 22px;	
} 

.filter-options:nth-child(2) {
  margin-bottom: 20px;	
} 

.filter-options label {
  position: relative;
  
  display: block;
  height: 25px;
  
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  
  vertical-align: middle;
}

.filter-input-checkbox + label::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: -40px;

  width: 26px;
  height: 26px;
  
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: -40px;

  width: 26px;
  height: 26px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
 
  position: absolute;
  top: 0;
  left: -40px;

  width: 26px;
  height: 26px;
  
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: -40px;

  width: 26px;
  height: 26px;
  
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.search-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 72px 0 73px;
  
  background-color: #ffffff;
}

.search-sorting-found {
  width: 135px;
  padding: 0;
  margin: 30px 0;
  margin-right: 30px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-sorting-list  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;	
  
  padding: 0;
  margin: 0;
  padding-top: 4px;
  width: 893px;
	
  font-size: 12px;
  line-height: 18px;
  color: #000000;
	
  list-style: none;
}

.search-sorting-list li:not(:last-child) {
  margin-right: 33px;
}

.search-sorting-list li:first-child {
  margin-right: 40px;
}

.search-sorting-list li:nth-child(2) {
  margin-right: 32px;
}

.search-sorting-list li:last-child {
  margin-left: auto;
}

.search-sorting-list  a {
  color: #dadada;
  border-bottom: 1px dotted #81b3d2;
}

.search-sorting-list a:hover,
.search-sorting-list a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  outline: none;
}

.search-sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.search-sorting-list:last-child a:hover,
.search-sorting-list:last-child a:focus {	
  border-bottom: none;
}

.search-sorting-current a,
.search-sorting-current a:hover,
.search-sorting-current a:focus,
.search-sorting-current a:active {
  color: #81b3d2;
  border-bottom: none;
}

.sorting {
  width: 36px;
}

.sorting a {
  border-bottom: none;
}

.sorting a:first-child {
  margin-right: 10px;
}

.sorting-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.sorting-icon:hover,
.sorting-icon:focus {
  fill: rgba(0, 0, 0, 1);
}

.sorting-icon:active {
  fill: rgba(129, 179, 210, 1);
}

.sorting-icon-current {
  fill: rgba(129, 179, 210, 1);
}

.sorting-icon-current:hover, 
.sorting-icon-current:focus {
  fill: rgba(129, 179, 210, 1);
}

.sorting-icon-current:active {
   fill: rgba(129, 179, 210, 1);
}


.filter-range {
  width: 316px;
  margin: 0 0 33px auto; 
  
  text-transform: uppercase;
  color: #ffffff;
}

.filter-range-title {
  display: block;
  margin-bottom: 9px;    
  padding-left: 2px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  
  -webkit-transform: translate(-50%, -50%);  
  -ms-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
}

.price-controls .min-price {  
  display: inline-block;
  
  padding-top: 5px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  
  cursor: pointer;
}

.price-controls .max-price {  
  display: inline-block;
  padding-top: 5px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 140px;  
  padding-left: 65px;
}

.price-controls .max-price {
  width: 155px;  
  padding-left: 71px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -8px;

  width: 19px;
  height: 19px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  
  cursor: pointer;
}

.range-toggle:hover {
  width: 21px;
  height: 21px;
  
  border: 9px solid #ffffff;  
  
  cursor: pointer;
}

.range-toggle:focus {
  width: 21px;
  height: 21px;
  
  border: 9px solid #ffffff;  
  
  cursor: pointer;
}

.range-toggle:active {
  width: 21px;
  height: 21px;
  
  border: 9px solid #ffffff;  
  
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 95px 0 auto;
  padding: 6px 32px 6px 34px;
  max-width: 220px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;  
  cursor: pointer;
}


.btn-transparent:hover {
  color: #000000;
  background-color: #ffffff;
}

.btn-transparent:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.search-result {
  background-color: #ffffff;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.hotels-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;	
  width:100%;	
  padding: 30px 72px 29px 73px;
  
  border-bottom: 1px solid #e5e5e5;
}

.hotels-item:first-child {
  padding: 30px 72px 28px 73px;
  
  border-top: 1px solid #e5e5e5;   
}

.hotels-item:last-child {
  padding: 30px 72px 28px 73px;  
}

.hotel-description {  
  max-width: 780px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  
  vertical-align: top;
}

.hotels-image {
  display: inline-block;
  width: 135px;
  height: 90px;
  margin: 0;
  margin-right: 30px;
  vertical-align: top;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:focus  {
  outline: none;
}

.hotel-name:active {
  color: #b2b2b2;
}

.hotel-name-header {
  display: block;
  margin-top: -5px;
  margin-bottom: 7px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;	
  color:  #000000;
}

.booking-item {
  display: inline-block;
  vertical-align: top;
}

.hotel-type {
  display: inline-block;
  margin-right: 2px;
  vertical-align: top;
}

.button.hotel-more-info {
  display:  block;
  margin-top: 14px;
  padding: 3px 17px;
  font: inherit;	
  font-weight: bold;
  text-transform: uppercase;	
  text-align: center;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;	
}

.hotel-booking {
  display: block;
  margin-top: 14px;
  padding: 3px 17px;
  
  font-size: 14px;
  font-weight: bold;  
  color: #ffffff; 
  
  background-color: #766357;	
}

.hotels-item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;  
  width: 110px;
  height: 92px;
  
  text-align: right;
}

.rating {
  padding: 4px 0 4px 2px;
  
  color: #666666;	
  text-align: center;
  
  background-color: #f2f2f2;
}

.stars img {
  width: 18px;
  height: 17px;
  margin-left: 1px;
}

.hotel-type .hotel-more-info:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button.hotel-more-info:hover{
  background-color: #669ec0;
}

.button.hotel-more-info:focus {
  background-color: #669ec0;
  outline: none;
}

.button.button-number-of-clients {
  color: #a9a9a9;
	
  background-color: #f2f2f2;
  border: none;
}

.button.filter-button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button.filter-button:hover,
.button.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.button.hotel-booking:hover,
.button.hotel-booking:focus {
  background-color: #604e43;
}

.button.hotel-booking:active {
  background-color: #503e33;	
  color: rgba(255, 255, 255, 0.3);
}

.inner-footer {
  position: relative;
  bottom: 0;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;	
  -webkit-box-pack: center;	
  -ms-flex-pack: center;	
   justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 36px 0;
  
  background-color: rgba(255, 255, 255, 1);	
}	


