body {
  margin: 0;	
  padding: 0;
	
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
	
  background-color: #f2f2f2;
}  

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout-wrapper {
  position: relative;
  
  width: 1200px;
  margin: 0 auto;
  
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.button,
.button.hotel-more-info {
  font: inherit;	
  font-weight: bold;
  text-transform: uppercase;	
  text-align: center;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;	
}

.button:hover,
.button.hotel-more-info:hover{
  background-color: #669ec0;
}

.button:focus,
.button.hotel-more-info:focus {
  background-color: #669ec0;
  outline: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  
  background-color: #ffffff;
}

.site-navigation {
  position: relative;  
    
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;  
  width: 1200px;
  min-height: 56px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.site-navigation li {
  width: 240px;
  margin: 15px auto;
  align-self: center;
  
  text-align: center;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: 240px;
  padding-left: 20px;
}

.site-navigation li:nth-child(3n+1) {
  padding-left: 20px;
}

.site-navigation li:nth-child(4n) {
  padding-left: 15px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation-active  a,
.site-navigation-active  a:hover,
.site-navigation-active  a:focus,
.site-navigation-active  a:active {
  color: #766357;
}

.site-navigation-active  a:focus,
.site-navigation-active  a:active {
  border-bottom: 1px solid #766357;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  
  display: block;
  margin-left: -69px;
}

.main-header-logo img {
  width: 138px;
  height: 70px;
  border: 0;
}

.intro {
  position: relative;
  top: 0;
  
  width: 1200px;
  height: 568px;
  
  background-color: #ffffff;
  background-image: url("../img/main-background.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.search-hotel h3 {
  padding: 0;
} 

.button-search {
  width: 568px;
  padding: 30px 110px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  
  background-color: #766357;
}

.button-search:hover  {
  background-color: #604e43;
}

.button-search:focus  {
  background-color: #604e43;
  outline: none;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;	
}

.search-form input[type="text"],
.search-form input[type="password"] {
  box-sizing: border-box;
  
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;	
  text-transform: uppercase;
	
  background-color: #f2f2f2;
  border: none;	
}

.search-form input[type="text"]:hover,
.search-form input[type="password"]:hover {
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus,
.search-form input[type="password"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.number-of-clients {
 width: 38px;	
}

.main-footer {
  position: absolute;
  bottom: 0;
  
  display: flex;	
  justify-content: center;
  align-items: center;	
  width: 100%;	
  padding: 36px 0;
  
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 400px;
  
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.social {
  display: flex;
  flex-wrap: wrap;	
  justify-content: center;	
  width: 400px;
  margin: 0;
  padding:0;
	
  list-style: none;
}

.social-button {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;	
  width: 46px;
  height: 48px;
  margin-right: 6px;
	
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
  outline: none;
}

.social-button:active {	
  background-color: #5496bd;	
}

.social-button-fill {
  fill: #ffffff;
}

.social-button:active .social-button-fill {
  fill: #94b9d2;
}

.main-footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;	
  width: 400px;
}

.copyright-color{
  fill:#231f20;
}

.copyright-color:hover,
.copyright-color:focus {
  fill: #81b3d2;
  outline: none;
}

.copyright-color:active {
  fill: #bdbbbc;
}

.copyright-logo {
  display: inline-block;
  margin-left: 7px;
}	

/*Отели*/
.filter {	
  display: flex;
	
  width: 100%;
  min-height:  217px;
  padding: 28px 73px;
	
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
	
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter .infrasrtrucure {
  width: 240px;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  
  border: none;
}

.filter .accommodation {
  width: 240px;
  padding: 0;
  margin: 0;  
  
  border: none;
}

.filter .filter-legend {
  margin-bottom: 25px;	
  
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filter-options {
  padding-left: 40px;
  margin-bottom: 23px;	
}

.filter-options label {
  position: relative;
  
  display: block;
  
  cursor: pointer;
  user-select: none; 
}

.filter-input-checkbox:focus+ label {
  text-decoration: underline;
}

.filter-input-checkbox + label::before {
  content: "";
  
  position: absolute;
  top: 0;
  left:-40px;

  width: 23px;
  height: 23px;
  
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left:-40px;

  width: 23px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter-input-checkbox:checked 
.filter-input-checkbox:disabled + label::before {
  content: "";
 
  position: absolute;
  top: 0;
  left: -40px;

  width: 23px;
  height: 23px;
  
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";

  position: absolute;
  top: 0;
  left:-40px;

  width: 23px;
  height: 23px;
  
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.search-sorting {
  display: flex;
  align-items: center;
  padding: 0 73px;
  
  background-color: #ffffff;
}

.search-sorting-found {
  width: 135px;
  padding: 0;
  margin: 30px 0;
  margin-right: 30px;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-sorting-list  {
  display: flex;
  align-items: center;	
  
  padding:0;
  margin: 0;
  width: 893px;
	
  font-size: 12px;
  line-height: 18px;
  color: #000000;
	
  list-style: none;
}

.search-sorting-list li:first-child {
  margin-right: 39px;
}

.search-sorting-list li:nth-child(2) {
  margin-right: 31px;
}

.search-sorting-list li:nth-child(3) {
  margin-right: 33px;
}

.search-sorting-list li:last-child {
  margin-left: auto;
}

.search-sorting-list  a {
  color: #000000;
  border-bottom: 1px dotted #81b3d2;
}

.search-sorting-list a:hover,
.search-sorting-list a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  outline: none;
}

.search-sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.search-sorting-current a,
.search-sorting-current a:hover,
.search-sorting-current a :focus,
.search-sorting-current a:active {
  color: #81b3d2;
  border-bottom: none;
}

.sorting {
  width: 37px;
}

.sorting a {
  border-bottom: none;
}

.sorting a:first-child {
  margin-right: 10px;
}

.sorting-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.sorting-icon-current {
  fill: rgba(129, 179, 210, 1);
}

.filter-range {
  width: 318px;
  margin: 0 0 33px auto; 
  
  text-transform: uppercase;

  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}
.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  
  transform: translate(-50%, -50%);
}

.price-controls .min-price {  
  display: inline-block;
  
  padding-top: 3px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  
  cursor: pointer;
}

.price-controls .max-price {  
  display: inline-block;
  padding-top: 3px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 140px;  
  padding-left: 52px;
}

.price-controls .max-price {
  width: 140px;  
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 18px;
  height: 18px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  
  cursor: pointer;
}

.range-toggle:hover {
  width: 21px;
  height: 21px;
  
  border: 9px solid #ffffff;  
  
  cursor: pointer;
}

.range-toggle:focus {
  width: 21px;
  height: 21px;
  
  border: 9px solid #ffffff;  
  
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 31px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background-color: #ffffff;
}

.btn-transparent:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.search-result {
  background-color: #ffffff;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.hotels-item {
  display: flex;	
  width:100%;	
  padding: 30px 73px;
  
  border-bottom: 1px solid #e5e5e5;
}

.hotels-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.hotel-description {  
  max-width: 780px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  
  vertical-align: top;
}

.hotels-image {
  display: inline-block;
  width: 135px;
  height: 90px;
  margin: 0;
  margin-right: 30px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:focus  {
  outline: none;
}

.hotel-name:active {
  color: #b2b2b2;
}

.hotel-name-header {
  display: block;
  margin-top: -5px;
  margin-bottom: 5px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;	
  color:  #000000;
}

.booking-item {
  display: inline-block;
}

.hotel-type {
  display: inline-block;
  margin-right: 3px;
}

.hotel-more-info {
  display:  block;
  margin-top: 17px;
  padding: 3px 17px 4px;
  
  font-size: 14px;
  font-weight: bold;
}

.hotel-booking {
  display: block;
  margin-top: 17px;
  padding: 3px 17px 4px;
  
  font-size: 14px;
  font-weight: bold;  
  color: #ffffff; 
  
  background-color: #766357;	
}

.hotels-item-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  width: 110px;
  height: 92px;
  
  text-align: right;
}

.rating {
  padding: 5px 0;
  
  color: #666666;	
  text-align: center;
  
  background-color: #f2f2f2;
}

.stars img {
  width: 18px;
  height: 17px;
}

.button.hotel-more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button.button-number-of-clients {
  color: #a9a9a9;
	
  background-color: #f2f2f2;
  border: none;
}

.button.filter-button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button.filter-button:hover,
.button.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.button.hotel-booking {
  background-color: #766357;
}

.button.hotel-booking:hover,
.button.hotel-booking:focus {
  background-color: #604e43;
}

.button.hotel-booking:active {
  background-color: #503e33;	
  color: rgba(255, 255, 255, 0.3);
}

.inner-footer {
  position: relative;
  bottom:0;
  
  display: flex;	
  justify-content: center;
  align-items: center;
  padding: 36px 0;
  
  background-color: rgba(255, 255, 255, 1);	
}	

/*Преимущества*/
.reasons { 
  margin: 0;
  padding: 0;
	
  color: #000000;
  
  background-color: #ffffff;
}

.reasons-header {
  width: 560px;
  margin: 0 auto;
  padding-bottom: 38px;
  
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.reason-title {
  margin-top: 0;
  margin-bottom: 27px;  
  
  line-height: 26px;
  font-weight: 21px;
}

.reasons-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.reason-item {
  width: 400px;
  padding: 50px 73px 48px;  
  
  color: #000000;
  text-align: center;
  
  background-color: #eeeeee;
}

.reason-image-wrapper {
  width: 800px;
  min-height: 256px;
  
  background-color: #81b3d2;
}

.reason-one {
  background-image: url("../img/advantages-1.jpg");
  background-repeat: no-repeat;	
}

.reason-two {
  background-image: url("../img/advantages-2.jpg");
  background-repeat: no-repeat;
}

.colored {
  padding: 0 50px;
  padding-top: 50px;
  
  color: #ffffff;
  
  background-color: #81b3d2;
}

.colored p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.reason-item-header {
  padding:0;
  margin: 0;
  margin-bottom: 20px;
  
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.item-header {
  margin: 0;
  margin-bottom: 26px;
}

.item-header ~ p {
  padding: 0;
}

.additional-reason {
  position: relative;	
  
  padding: 160px 60px 66px 60px;  
  
  color: #000000;
  
  background-color: #ffffff;
}

.additional-reason p {
  padding:0;
  margin: 0;
  margin-bottom: 20px;
}

.house::before {
  content: "";
  
  position: absolute;
  top: 60px;
  left: 50%;
  
  
  width: 75px;
  height: 75px;
  margin-left: -37px;
  
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.food::before {
  content: "";
  
  position: absolute;
  top: 60px;
  left: 50%;  
  
  width: 75px;
  height: 75px;
  margin-left: -38px;
  
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
}

.souvenirs::before {
  content: "";
  
  position: absolute;
  top: 56px;
  left: 50%;  
  
  width: 75px;
  height: 75px;
  margin-left: -32px;
  
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
}

/*Поиск гостиницы*/
.search-hotel {
  color: #000000;
  
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.search-hotel-text {
  width: 576px;
  margin: 52px auto 0;
  padding: 0 70px;	
  padding-bottom: 50px;
  
  text-align: center;
}

.search-hotel-header {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
	
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-hotel-text p {
  margin: 0;
  padding: 0;
}

.search-form-wrapper {
	position: relative;
	
	text-align: center;
}

.search-form {
  position: absolute;
  top: 100%;
  left: 50%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;	
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  margin-left: -284px;
  padding-top: 50px;
	
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;	
  color: #000000;
  
  background-color: #ffffff;
}

.search-form-fieldset {
  width: 458px;
  margin: 0 45px;
  
  border: none;
}

.appointment-item input::-webkit-input-placeholder {
  color: #000000;
}

.appointment-item input::-moz-placeholder {
  color: #000000;  
  opacity: 1;
}

.appointment-item input:-ms-input-placeholder {
  color: #000000;
}

.appointment-item input::placeholder  {
  color: #000000;
}

.appointment-item {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  
  text-align: left;
}

.appointment-item:last-of-type {
  margin-bottom: 55px;
}

.arrival {
  align-self: center;
  
  width: 110px;
  margin-right: 3px;
}

.departure {
  align-self: center;
  
  width: 110px;
  margin-right: 3px;
}

.calendar {
  width:345px;
  margin: 0;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 45px;
  padding-bottom: 6px;
  box-sizing: border-box;
}	
  
.calendar:hover {
  background-image: url("../img/icon-calendar-hover.svg");
}

.calendar:focus {
  background-image: url("../img/icon-calendar-hover.svg");
  outline: none;
}

.calendar:active {
  background-image: url("../img/icon-calendar-active.svg");
}

.calendar-icon {
  background-image: url("../img/icon-calendar.svg");
  background-position: 300px center;
  background-repeat: no-repeat;
}

.appointment-item .clients-age {
  align-self: center;
  
  width: 100px;
  margin-right: 12px;
}

.amount-buttons {
  display: inline-block;
  width: 117px;
}

.amount-buttons:first-of-type {
  margin-right: 40px;
}

.clients-age:last-of-type  {
  width: 65px;
}

.button-number-of-clients {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  
  vertical-align: middle;
}

.number-of-clients {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  
  font-size: 26px;
  text-align: center;	
  vertical-align: middle;
}

.submit-search-hotel {
  width: 458px;
  padding: 16px 0;
  
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  
  background-color: #81b3d2;
  border: none;
}

.button-number-of-clients-minus {
  font-size: 26px;
  line-height: 26px;
}

.button-number-of-clients-plus {
  font-size: 26px;
  line-height: 26x;
}

.button-number-of-clients:hover {
  color: #000000;
}

.button.button-number-of-clients:focus {
  color: #000000;
  
  border-bottom: 1px solid #000000;
}

 .button-number-of-clients:active {
  color: #81b3d2;
}
.submit-search-hotel:hover {
  background-color: #669ec0;
}

.submit-search-hotel:focus {
  background-color: #669ec0;
  outline: none;
}

.submit-search-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496bd;
  outline: none;
}

.form-hidden {
  display: none;
}

@keyframes appearance {
  from {top: 0; }
  10%  {top: 10px; }
  20%  {top: 15px; }
  30%  {top: 20px; }
  40%  {top: 25px; }
  50%  {top: 40px; }
  60%  {top: 45px; }
  70%  {top: 50px; }
  85%  {top: 55px; }
  89%  {top: 60px; }
  100% {top: 65px;}
}

.search-form {
  animation-name: appearance;
  animation-duration: 0.7s;
}
